@font-face {
  font-family: 'Instrument Sans';
  src: url('../assets/fonts/InstrumentSans-Regular.woff2') format('woff2'),
       url('../assets/fonts/InstrumentSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('../assets/fonts/InstrumentSans-Medium.woff2') format('woff2'),
       url('../assets/fonts/InstrumentSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('../assets/fonts/InstrumentSans-SemiBold.woff2') format('woff2'),
       url('../assets/fonts/InstrumentSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('../assets/fonts/InstrumentSans-Bold.woff2') format('woff2'),
       url('../assets/fonts/InstrumentSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
    margin: 0;
    font-family: Instrument_Sans, sans-serif;
    background: #FBFBFE;
}

header {
    background-color: #2F27CE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    height: 15%;
    min-height: 70px;
}

h1{
    font-size: 3rem;
    color:#DEDCFF;
    margin: 0;
    padding-left: 1.2rem;
}

.underline{
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: auto;
}

.spacer_header_section1{
    height: 0vh;
    width: 100%;
}

.text_container{
    display: flex;
    flex-direction:row;
    margin-top: 3rem;
}

.website_text_container{
    margin: 0;
    margin-left: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
 
}

.site_information_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.report_and_score_container{
    display: flex;
    flex-direction: row;
}

.website_text_container p {
    font-size: 0.625rem;
    color: #012036;
    opacity: 65%;
    margin: 0;
    margin-top: 0.1rem;
}

.text_for_report_and_score_container p{
    margin-bottom: 1.5rem;
}

/* ! bad */
.bold{
  font-weight: 800;
  font-size: 1.125rem;
  /* margin-bottom: 1.5rem; */
}



.buttons_container {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.buttons_container button{
    border-radius: 10px;
    border: none;
}


.buttons_container button p{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.buttons_container button:hover{
    cursor: pointer;
}

.button_download {
    color: #050315;
    font-size: 1rem;
    font-weight: 500;
    background: #E5E5E5;
}


.button_varsle {
   background: #433BFF;
    color: #FBFBFE;
    width: 50%;
    font-size: 1.25rem;
}

.maschot_container{
    padding-bottom: 4rem;
}

.spacer_line {
    width: 50%;
    
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.spacer_line div{
background: #050315;
    height: 1px;
    width: 100%;
}

.reportcard_containers{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.report_card_example{
    border-radius: 10px;
    height: 5.875rem;
    width: 20.438rem;
    position: relative;
    display: flex;
    justify-content: end;
    box-shadow: 2px 2px 2px 2px rgba(229, 229, 229, 0.26);
    margin-bottom: 2rem;
}

.report_card_example div{
    background: #FFFFFF;
    border-radius: 10px 8px 8px 10px;
    height: 5.875rem;
    width: 20rem;
    
}

.reportcard_header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1.35rem !important; 
    
}

.report_card_example h3 {
    font-size: 0.875rem;
    width: 20rem;
    margin-left: 0.5rem;
}

#reportcard_warning_label{
    display: inline-block;
    height: 0.938rem;
    width: 3.56rem;
    margin: 1em;

}

.reportcard_warning_label p {
    margin: 0;
    text-align: center;
    color: #FBFBFE;
    font-weight: 700;
    font-size: 0.625rem;
    margin-top: 1px;
}

.reportcard_text{
    margin: 0;
    margin-left: 0.5rem;
    margin-top: 1.2em;
}

.reportcard_solution{
    margin-left: 0.5rem;
    font-weight: 700;
    margin-top: 1.2em;
    font-size: 0.625rem;;
}


/* color choies of cards */
.report_card_example.red, .reportcard_warning_label.red{
    background: #FF0000 ;
}

.report_card_example.yellow{
    background: #E0B00F ;
}

.report_card_example.green{
    background: #00C407 ;
}

/* .spacer_end{
    height: 15vh;
    width: 100%;
} */